<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="CUCUMBER" class="name.lattuada.trading.tests.utils.CucumberLogAppender">
        <encoder>
            <pattern>%date %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="TRACE">
        <appender-ref ref="CUCUMBER" />
    </root>

    <logger name="name.lattuada.trading.tests" level="TRACE" additivity="false">
        <appender-ref ref="CUCUMBER" />
    </logger>

</configuration>
